<div class="activity-card col-sm-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="row g-0">
            <div class="col col-4 col-md-12">
                <div class="activity-img"></div>
            </div>
            <div class="col col-8 col-md-12">
                <div class="card-body p-3">
                    <h5 class="card-title">格蘭利威「品台潮」品酩會格蘭利威「品台潮」品酩會</h5>
                    <p class="card-text"><small class="text-muted">2022-03-18(五) ~ 2022-03-19(六)</small></p>
                    <div class="tags">
                        <span class="card-icon icon-location">台北市</span>
                        <span class="card-icon icon-price">免費入場</span>
                        <span class="card-icon icon-category">美食</span>
                    </div>
                    <div class="data">
                        <span class="card-icon icon-like">20</span>
                        <span class="card-icon icon-watch">20</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>